

{% extends 'home/base.html' %}




{% block title %}
<h2>Sobre Nosotros</h2>    
{% endblock title %}



{% block content %}


{% load static %} 
<img src="{% static 'home/imagenes/about.jpeg' %}"   width="1200" >


<h4>Visión</h4>

    “Ofrecer a nuestros clientes soluciones sustentables de
     mantenimiento e ingeniería, para llegar a implementar la 
     cultura de la confiabilidad y la gestión de activos para 
     la mejora continua de su sistema productivo, a través de
     tecnología y técnicas de vanguardia”.</p>

<p>
    <h4>Misión</h4>
    
    “Queremos ser reconocidos de manera internacional en múltiples
     ámbitos, de esta manera implementar soluciones sustentables e 
     innovadoras en materia de confiabilidad e ingeniería de mejora 
     con cada uno de nuestros clientes”.
</p>

<p>
   <h4>Valores</h4> 


   <ul>
    <li>Compromiso</li>
    <li>Trabajo en equipo</li>
    <li>Innovación</li>
    <li>Responsabilidad.</li>
    <li>Honestidad</li>    
    <li>Calidad en servicios y productos.</li>
  </ul>

    
      

    
  
    
   
<p>
 

<p></p><a href="{% url "home:index" %}" class="btn btn-secondary" >Ir al menu</a><p></p>
{% endblock content %}