{% extends 'home/base.html' %}


{% block <title></title> %}
<h2>Sobre Nosotros</h2>    
{% endblock <title></title> %}



{% block content %}


<p>Visión

    “Ofrecer a nuestros clientes soluciones sustentables de
     mantenimiento e ingeniería, para llegar a implementar la 
     cultura de la confiabilidad y la gestión de activos para 
     la mejora continua de su sistema productivo, a través de
     tecnología y técnicas de vanguardia”.</p>

<p>
    Misión
    
    “Queremos ser reconocidos de manera internacional en múltiples
     ámbitos, de esta manera implementar soluciones sustentables e 
     innovadoras en materia de confiabilidad e ingeniería de mejora 
     con cada uno de nuestros clientes”.
</p>

<p>
    Valores

    • Compromiso.
    
    • Trabajo en equipo.
    
    • Innovación.
    
    • Responsabilidad.
    
    • Honestidad.
    
    • Calidad en servicios y productos.
<p>
    






 





<p></p><a href="{% url "home:index" %}">Ir al menu</a><p></p>
{% endblock content %}