  {% extends "home/base.html" %} 
  {% load static %}

{% block <title></title> %}
    <h2>La Cultura de Confiabilidad en tu Planta</h2>
{% endblock <title></title> %}



  {% block content %} 

  
      <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src= {% static 'home/imagenes/R&M.jpg' %}  alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Implementacion de acuerdo a sus necesidades</h1>
            <p> Servicios de confiabilidad y mantenimiento de plantas industriales que protegen su equipo mientras mantienen su proyecto encaminado y dentro del presupuesto..</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">

    {% include "home/card.html" with tarjeta="tarjeta1" %}
    {% include "home/card.html" with tarjeta="tarjeta2" %}
    {% include "home/card.html" with tarjeta="tarjeta3" %}

  
</div>
</div>






     
    <p><a href="{% url 'home:about' %}">About </a></p>
    <p><a href="{% url 'cliente:index' %}">Clientes</a></p>
    <p><a href="{% url 'shop:index' %}">Compra Equipos Usados </a></p>
    <p><a href="{% url 'service:index' %}">Servicio de Inspecciones</a></p>


  {% endblock content %}
 
 


    
   
 
    
    
    




</body>
</html>