{% extends 'home/base.html' %}

{% block <title></title> %}
    <h2>Servicio de Inspecciones </h2>
{% endblock <title></title> %}



{% block content %} 

<h3>Ensayos No Destructivos</h3>

{% load static %} 
<img src="{% static 'home/imagenes/NDT.jpg' %}">








 <h6><li>Pruebas no destructivas superficiales</li></h6>
  
    <p>
    
      <ol>
        
        
       <p>VT – Inspección Visual</p>
       <p>PT – Líquidos Penetrantes</p>
       <p>MT – Partículas Magnéticas</p>
       <p>ET – Electromagnetismo</p>         
        
       

      </ol>
     
    </p>


    
 <h6><li>Pruebas no destructivas volumétricas</li></h6>

 <ol>
    
    
    <p>RT – Radiografía Industrial</p>
    <p>UT – Ultrasonido Industrial</p>
    <p>AE – Emisión Acústica</p>

  
  </ol>
  
    
    <h6><li>Pruebas no destructivas de hermeticidad</li></h6>
    
<ol>

    <p>Pruebas de Fuga</p>
    <p>Pruebas por Cambio de Presión (Neumática o hidrostática).</p>
    <p>Pruebas de Burbuja</p>
    <p>Pruebas por Espectrómetro de Masas</p>
    <p>Pruebas de Fuga con Rastreadores de Halógeno</p>

    
  </ol>
     
</p><a href="{% url "home:index" %}" class="btn btn-secondary" > Ir al menu</a><p></p>  
       
{% endblock content %}


