{% extends 'home/base.html' %}

{% block <title></title> %}
    <h2>Servicio de Inspecciones </h2>
{% endblock <title></title> %}



{% block content %} 

<h3>Ensayos No Destructivos</h3>

<p>Pruebas no destructivas superficiales <p>
  
    VT – Inspección Visual
    PT – Líquidos Penetrantes
    MT – Partículas Magnéticas
    ET – Electromagnetismo
    
  <p>Pruebas no destructivas volumétricas</p>
    
    
    RT – Radiografía Industrial
    UT – Ultrasonido Industrial
    AE – Emisión Acústica
    
    <p>Pruebas no destructivas de hermeticidad</p>
    
    Pruebas de Fuga
    Pruebas por Cambio de Presión (Neumática o hidrostática).
    Pruebas de Burbuja
    Pruebas por Espectrómetro de Masas
    Pruebas de Fuga con Rastreadores de Halógeno



     
</p><a href="{% url "home:index" %}">Ir al menu</a><p></p>  
       
{% endblock content %}