{% extends 'home/base.html' %}

{% block <title></title> %}
    <h2>Clientes</h2>
{% endblock <title></title> %}


{% block content %}

    <ul>
    {% for cliente in clientes %}
            <li>{{cliente.nombre}} {{cliente.apellido}}</li>
    {% endfor %}
    </ul>
    <p><a href="{% url "cliente:crear" %}" class="btn btn-primary" type="button" value=" input">Crear cliente</a></p>
    <p><a href="{% url "home:index" %}"class="btn btn-secondary">Ir al menu</a></p>

{% endblock content %}

 





    
